    <h1 class="display-3 text-center"style="text-shadow:black 10px 10px 10px;">About Us!</h1>
    <hr style="box-shadow:3px 3px 3px;color:whitesmoke;">
    <p class="text-white text-center mb-5" style="font-size:24px;text-shadow:black 10px 10px 10px;">
        
    </p>