       
            
            <h1 class="display-3 text-center"style="text-shadow:black 10px 10px 10px;">Contact Us!</h1>
            <hr style="box-shadow:3px 3px 3px;color:whitesmoke;">
            <p class="text-white text-center mb-5" style="font-size:24px;text-shadow:black 10px 10px 10px;">Let us know what we can do for you. Feel free to give us any feedback!</p>
            <form class="text-white" action="https://formspree.io/designatedkicker@gmail.com" method="POST">
                <div class="d-flex justify-content-center">
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" name="name" class="form-control" size="35" id="exampleFormControlInput1"
                                placeholder="Your Name">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-group row">
                        <label for="exampleFormControlInput1" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input type="email" name="email" class="form-control" size="35"
                                id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="form-group row">
                        <label for="exampleFormControlTextarea1">Message</label>

                        <textarea class="form-control" name="message" size="35" id="exampleFormControlTextarea1"
                            rows="6" cols="40"></textarea>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button input type="submit" value="Send" class="btn btn-lg btn-secondary mb-2">Submit</button>
                </div>
            </form>

       