    <div id="footer">
     <div class="card text-center bg-dark mt-3">
        <div class="card-footer text-white font-weight-bold">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="studentName">
                        <div class="img" id="Aaron"><a href="https://abooth9422.github.io/" target="_blank">
                                <img src="../public/images/git.png" class="rounded-circle" width="40" height="40"></a>
                            <label for="Aaron" class="mx-4">Aaron Booth</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="studentName">
                        <div class="img" id="Ellen"><a href="https://github.com/ellennewellevans" target="_blank">
                                <img src="../public/images/git2.png" class="rounded-circle" width="40"
                                    height="40"></a>
                            <label for="Ellen" class="mx-4">Ellen Evans</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="studentName">
                        <div class="img" id="Shak"><a href="https://github.com/swilliams2077" target="_blank">
                                <img src="../public/images/git3.png" class="rounded-circle" width="40"
                                    height="40"></a>
                            <label for="Shak" class="mx-4">Shak Williams</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="studentName">
                        <div class="img" id="Justin"><a href="https://github.com/JustinConforti"
                                target="_blank">
                                <img src="../public/images/git.png" class="rounded-circle" width="40"
                                    height="40"></a>
                            <label for="Justin" class="mx-4">Justin Conforti</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
              <a class="mx-2"href="#"style="color:white;">Contact Us</a>
              <p>||</p>
              <a class="mx-2"href="#"style="color:white;">About Us</a>
            </div>
        </div>

    </div>
    </div>    