
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
   <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Pro:400i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="../../public/images/Logo 2 - Large.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/Logo 2 - Large.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/Logo 2 - Large.png">
  <title>Designated Kicker</title>
</head>

<body>
  <div class="modal fade text-white font-weight-bold" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Register For your account!</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="registerName" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="registerName">
          </div>
          <div class="form-group">
            <label for="registerEmail" class="col-form-label">Email</label>
            <input type="email" class="form-control" id="registerEmail">
          </div>
           <div class="form-group">
            <label for="registerPassword" class="col-form-label">Password</label>
            <input type="password" class="form-control" id="registerPassword">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        <button type="button" id="register" data-dismiss="modal" class="btn btn-dark">Register</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade text-white font-weight-bold" tabindex="-1" id="stopModal"role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-secondary">
      <div class="modal-header">
        <h2 class="modal-title modal-dialog-centered">MISSING REQUIRED FIELDS</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div container="fluid">
        <div class="row my-2">
          <h3>You are missing required fields on your form!</h3>
        </div>
        <div class="row d-flex mb-2 justify-content-center">
          <img width="400" height="400"src="../../public/images/stop.jpg" alt="STOP">
        </div>
      </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    {{!-- data-toggle="modal" data-target="#exampleModal" --}}

  <div class="entirePage mb-5">
  <a href="/"><div class="header mb-1">
  <h1 class="display-1 animated fadeInLeft"id="mainLogo1">Designated</h1>
  <h1 class="display-1 animated fadeInLeft delay-1s"id="mainLogo2">Kicker</h1>
  </div></a>
  <div class="bodyPage">
  <div id="nav">
 
  <nav class="navbar navbar-expand-lg navbar-light text-white mb-2" style="background-color:slategrey;">
  <span class="navbar-brand badge badge-light animated fadeIn delay-2s"><img width="30" id="logoBadge" height="30"src="../public/images/Logo 2 - Large.png" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="about nav-link" class="aboutUs"href="/aboutUs">About Us</a>
      </li>
      <li class="nav-item">
        <a class="contact nav-link" class="contactUs"href="/contactUs">Contact Us</a>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        {{#if homepage }}
        <div id="registerOne">
      <input class="form-control mr-sm-2" type="email" id="emailInput"placeholder="email" aria-label="email">
      <input class="form-control mr-sm-2" type="password"id="passwordInput" placeholder="Password" aria-label="Password">
      <input class="btn btn-dark my-2 mx-2" id="clientLogin" type="button" value="Client Login"></input>
      <input class="btn btn-dark my-2 mx-2 my-sm-0" data-toggle="modal" type="button" data-target="#exampleModal" value="Register"></input>
     </div>
     {{else}}
     <div id="registerTwo">
        <h1 class="mx-2" style="text-shadow:black 10px 10px 10px;">Welcome: Ellen!<input class="btn btn-dark my-2 mx-2" id="clientLogout" type="button" value="Logout"></input></h1>
       {{/if}}
       
       </div>
      </form>
    </div>
    </nav>
    </div>
    <div id="main">
    <div class="bodyContainer mb-5">
        {{{body}}}
        </div>
        </div>
          <footer>
        {{>footerMain}}
        </footer>
        <script src="../public/js/index.js"></script>
        <script src="../public/js/googlesearch.js"></script>
        <script src="../public/js/results.js"></script>
        </body>

</html>
