
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Pro:400i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../../public/images/Logo 2 - Large.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/Logo 2 - Large.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/Logo 2 - Large.png">
  <title>Designated Kicker</title>
</head>

<body>
  <div class="entirePage mb-5">
  <a href="/"><div class="header mb-1">
  <h1 class="display-1 animated fadeInLeft"id="mainLogo1">Designated</h1>
  <h1 class="display-1 animated fadeInLeft delay-1s"id="mainLogo2">Kicker</h1>
  </div></a>
  <div class="bodyPage">
  <div id="nav">
 
  <nav class="navbar navbar-expand-lg navbar-light text-white mb-2" style="background-color:slategrey;">
  <span class="navbar-brand badge badge-light animated fadeIn delay-2s"><img width="30" id="logoBadge" height="30"src="../public/images/Logo 2 - Large.png" alt=""></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="about nav-link" class="aboutUs"href="/aboutUs">About Us</a>
      </li>
      <li class="nav-item">
        <a class="contact nav-link" class="contactUs"href="/contactUs">Contact Us</a>
      </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="email" id="emailInput"placeholder="email" aria-label="email">
      <input class="form-control mr-sm-2" type="password"id="passwordInput" placeholder="Password" aria-label="Password">
      <button class="btn btn-dark my-2 mx-2 my-sm-0" id="clientLogin" type="submit">Client Login</button>
      <button class="btn btn-dark my-2 mx-2 my-sm-0" id="register" type="submit">Register</button>
      </form>
    </div>
    </nav>
    </div>
    <div id="main">
    <div class="bodyContainer mb-5">
        {{{body}}}
        </div>
        </div>
          <footer>
        {{>footerMain}}
        </footer>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../public/js/index.js"></script>
        <script src="../public/js/googlesearch.js"></script>
        <script src="../public/js/results.js"></script>
        </body>

</html>
