<div class="entirePage mb-5">



<div class="header mb-1">
  <h1 class="display-1"id="mainLogo1">Designated</h1>
  <h1 class="display-1"id="mainLogo2">Kicker</h1>
</div>
<div class="bodyPage">
<div id="nav">
 
  <nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color:slategrey;">
  <span class="navbar-brand badge badge-light" href="#">Designated Kicker</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
   
  </div>
</nav>

</div>

<div class="main">
    <div class="bodyContainer mb-5">
    <div class="p-5 mx-1 mb-5 rounded" id="scrollResults">
      <h1 style="text-decoration:underline;text-shadow:black 10px 10px 10px;">Display Results</h1>
    </div>
    <div class="p-5 mb-5 rounded"id="mainContent">
      <div id="welcome">
      <h1 class="display-3"style="text-shadow:black 10px 10px 10px;">Welcome to the Designated Kicker</h1>
      <hr style="box-shadow:3px 3px 3px;color:whitesmoke;">
      <br>
      <p class="text-white mb-5"style="font-size:24px;text-shadow:black 10px 10px 10px;">In recent years, Kickstarter’s research has shown that as the role of innovation in our lives and society has expanded, people’s expectations for “the next big thing” has evolved. As always, Kickstarters must provide a reliable product and a rewarding customer experience. But now investors have many more reasons to question how much they trust your startup. Will it protect their data and privacy? Use automation responsibly? Tell the truth in this era of disinformation? In short: Can investors trust an innovator do the right thing?
      <br>
      <br>
      Here at Designated Kicker, we alleviate all the stress of marketing your product or idea. We will work alongside you to market your worth in today’s competitive environment.
      </p>
      <button class="btn text-white" id="startBtn"style="background-color:slategray;box-shadow:white 3px 3px 3px">Click Here to begin our services</button>
      </div>
      <div class="p-5 mb-5 rounded" id="searchContent">
        <h1 class="display-3 text-center"style="text-shadow:black 10px 10px 10px;">Search your idea!</h1>
         <hr style="box-shadow:3px 3px 3px;color:whitesmoke;">
        <br>
        <p class="text-white mb-5" style="font-size:24px;text-shadow:black 10px 10px 10px;">Here we will search to see if theres anything that matches the product you want to create.
          In the fields below please select a category from our dropdown menu and enter in the product name and description. Product name and description must be seperated by commas.
        </p>
        <div class="form-group row"></div>
        <div class="input-group input-group-lg">
          <div class="col-lg-2">
            <div class="dropdown d-flex justify-content-right">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Chose Your Category
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#"></a>
      <a class="dropdown-item" href="#"></a>
      <a class="dropdown-item" href="#"></a>
      </div>
      </div>
          </div>
         <div class="col-lg-8">
        <input type="text" placeholder="Search by your product name, description, commas must be used"style="width:100%;"class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div class="col-lg-2">
         <button class="btn text-white" id="startSearch"style="background-color:slategray;box-shadow:white 3px 3px 3px">Click to Search</button>
        </div>
        </div>
        </div>

      </div>
  
   </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../public/js/index.js"></script>
