   
   
    <div class="p-5 mb-5 rounded"id="mainContent">
    <h1 class="display-3 text-center bg-success rounded"style="text-shadow:black 10px 10px 10px;">Success!!</h1>
    <hr style="box-shadow:3px 3px 3px;color:whitesmoke;">
    <p class="text-white text-center mb-5" style="font-size:24px;text-shadow:black 10px 10px 10px;">
    Your Item has been added to the list of the products we represent</p>
    <br>
    <p class="text-white text-center mb-5" style="font-size:24px;text-shadow:black 10px 10px 10px;">
    Check out the list of other products we support!!</p>
    <div id="tableList">

    </div>