body{
  font-family: 'Crimson Pro', serif;
  background-color:white;
}
.entirePage{
  position:relative;
  height:100%;
  width:100%;
}
.header{
  background-image:url(../images/header.jpg);
  height:400px;
  background-position-y:-22px;
  background-position-x:-50px;
  box-shadow:3px 3px 3px;
}
h1{
  color:whitesmoke
}
#mainLogo1{
  position:absolute;
  left:200px;
  top:100px;
  text-shadow:black 10px 10px 10px;
}
#mainLogo2{
 position:absolute;
 left:500px;
 top:225px;
 text-shadow:black 10px 10px 10px;
 
}

#nav{
  box-shadow:3px 3px 3px 3px;
}
.bodyContainer{
  position:absolute;
	display: table;
	width: 100%;
  height: 100%;
  border-spacing:10px 0px;
}
#scrollResults{
  overflow-y: scroll;
  height:100%;
  background-color:#0F3D57;
  box-shadow:3px 3px 3px 3px;
  display: table-cell;
	width: 25%;
  vertical-align: top;
  
}
#scrollResults::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: slategrey;
}

#scrollResults::-webkit-scrollbar
{
    width: 12px;
    background-color: slategrey;
}

#scrollResults::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #0F3D57;
}
#mainContent{
  background-color:#0F3D57;
  height: 100%;
  display: table-cell;
	width: 75%;
  vertical-align: top;
  margin-left:25px;
}
html, body
{
    height: 100%;
    width: 100%;
    position:relative;
}
#main{
  height:100%;
  width:100%;
}

footer{
  bottom:0;
  position:fixed;
  width:100%;
  height: 6rem;
  padding-bottom: 2.5rem;
  
}
form{
  margin-bottom:100px;
}
.nav-link{
  color:white !important;
}

img#logoBadge:hover {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
img#logoBadge:hover {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}